In [117]:
import pandas as pd

In [118]:
df = pd.read_csv("consolidated_data/consolidated.csv")

In [119]:
df["goal_difference"] = df["goals_for"] - df["goals_against"]

In [120]:
df["points"] = (df["points"] / (df["played"] * 3)) * 100

In [121]:
df

,position,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points,year
0,1,Atlético Madrid,30,17,6,7,87,50,37,44.444444,1950-51
1,2,Sevilla,30,17,4,9,79,46,33,42.222222,1950-51
2,3,Valencia,30,17,3,10,64,48,16,41.111111,1950-51
3,4,Barcelona,30,16,3,11,83,61,22,38.888889,1950-51
4,5,Real Sociedad,30,15,5,10,77,56,21,38.888889,1950-51
...,...,...,...,...,...,...,...,...,...,...,...
1323,16,Mallorca,38,10,9,19,36,63,-27,34.210526,2021-22
1324,17,Cádiz,38,8,15,15,35,51,-16,34.210526,2021-22
1325,18,Granada,38,8,14,16,44,61,-17,33.333333,2021-22
1326,19,Levante,38,8,11,19,51,76,-25,30.701754,2021-22
1327,20,Alavés,38,8,7,23,31,65,-34,27.192982,2021-22

In [122]:
def min_max_norm(v, max, min, nmax, nmin):
    return (((v - min) / (max - min)) * (nmax - nmin) + nmin)

In [123]:
min_max_col = ["won", "drawn", "lost"]
decimal_scaling_col = {"goals_for": 0, "goals_against": 0}

In [124]:
for col in min_max_col:
    df[col] = min_max_norm(df[col], df["played"], 0, 30, 0)

df["played"] = 30
df

,position,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points,year
0,1,Atlético Madrid,30,17.000000,6.000000,7.000000,87,50,37,44.444444,1950-51
1,2,Sevilla,30,17.000000,4.000000,9.000000,79,46,33,42.222222,1950-51
2,3,Valencia,30,17.000000,3.000000,10.000000,64,48,16,41.111111,1950-51
3,4,Barcelona,30,16.000000,3.000000,11.000000,83,61,22,38.888889,1950-51
4,5,Real Sociedad,30,15.000000,5.000000,10.000000,77,56,21,38.888889,1950-51
...,...,...,...,...,...,...,...,...,...,...,...
1323,16,Mallorca,30,7.894737,7.105263,15.000000,36,63,-27,34.210526,2021-22
1324,17,Cádiz,30,6.315789,11.842105,11.842105,35,51,-16,34.210526,2021-22
1325,18,Granada,30,6.315789,11.052632,12.631579,44,61,-17,33.333333,2021-22
1326,19,Levante,30,6.315789,8.684211,15.000000,51,76,-25,30.701754,2021-22
1327,20,Alavés,30,6.315789,5.526316,18.157895,31,65,-34,27.192982,2021-22

In [125]:
df.dtypes

position             int64
team                object
played               int64
won                float64
drawn              float64
lost               float64
goals_for            int64
goals_against        int64
goal_difference      int64
points             float64
year                object
dtype: object

In [126]:
describe_df = df.describe()

In [127]:
describe_df

,position,played,won,drawn,lost,goals_for,goals_against,goal_difference,points
count,1328.000000,1328.0,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000
mean,9.810241,30.0,11.333128,7.331087,11.335785,47.718373,47.718373,0.000000,38.434316
std,5.466358,0.0,3.974127,2.520818,3.747031,15.635126,12.534644,21.894451,12.033744
min,1.000000,30.0,1.578947,0.000000,0.789474,15.000000,18.000000,-93.000000,11.403509
25%,5.000000,30.0,8.684211,5.526316,9.285714,37.000000,39.000000,-14.000000,30.392157
50%,10.000000,30.0,11.000000,7.105263,11.842105,45.000000,47.000000,-4.000000,35.964912
75%,14.000000,30.0,13.421053,9.000000,13.421053,55.000000,56.000000,11.000000,43.859649
max,22.000000,30.0,25.263158,15.000000,23.000000,121.000000,134.000000,89.000000,87.719298

In [128]:
df_column_list = list(df.columns)

In [129]:
stats_name = []

In [130]:
for label, value in describe_df.iterrows():
    stats_name.append(label)

In [131]:
stats_name

['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']

In [132]:
exclude_column = ["team", "year"]

In [133]:
stats = {col: {stat: describe_df.iloc[stats_name.index(stat)][col] for stat in stats_name } for col in filter(lambda x: x not in exclude_column, df_column_list)}

In [134]:
stats

{'position': {'count': 1328.0,
  'mean': 9.810240963855422,
  'std': 5.466358077152466,
  'min': 1.0,
  '25%': 5.0,
  '50%': 10.0,
  '75%': 14.0,
  'max': 22.0},
 'played': {'count': 1328.0,
  'mean': 30.0,
  'std': 0.0,
  'min': 30.0,
  '25%': 30.0,
  '50%': 30.0,
  '75%': 30.0,
  'max': 30.0},
 'won': {'count': 1328.0,
  'mean': 11.33312773428966,
  'std': 3.9741269354045436,
  'min': 1.5789473684210527,
  '25%': 8.68421052631579,
  '50%': 11.0,
  '75%': 13.421052631578947,
  'max': 25.263157894736842},
 'drawn': {'count': 1328.0,
  'mean': 7.331086841838828,
  'std': 2.52081769878656,
  'min': 0.0,
  '25%': 5.526315789473684,
  '50%': 7.105263157894736,
  '75%': 9.0,
  'max': 15.0},
 'lost': {'count': 1328.0,
  'mean': 11.335785423871513,
  'std': 3.747031310939518,
  'min': 0.7894736842105263,
  '25%': 9.285714285714286,
  '50%': 11.842105263157896,
  '75%': 13.421052631578947,
  'max': 23.0},
 'goals_for': {'count': 1328.0,
  'mean': 47.7183734939759,
  'std': 15.635126329773069,
  'min': 15.0,
  '25%': 37.0,
  '50%': 45.0,
  '75%': 55.0,
  'max': 121.0},
 'goals_against': {'count': 1328.0,
  'mean': 47.7183734939759,
  'std': 12.534644430229106,
  'min': 18.0,
  '25%': 39.0,
  '50%': 47.0,
  '75%': 56.0,
  'max': 134.0},
 'goal_difference': {'count': 1328.0,
  'mean': 0.0,
  'std': 21.89445119699931,
  'min': -93.0,
  '25%': -14.0,
  '50%': -4.0,
  '75%': 11.0,
  'max': 89.0},
 'points': {'count': 1328.0,
  'mean': 38.434315546129675,
  'std': 12.03374392839314,
  'min': 11.403508771929824,
  '25%': 30.392156862745097,
  '50%': 35.96491228070175,
  '75%': 43.859649122807014,
  'max': 87.71929824561403}}

In [135]:
import math

In [136]:
def get_digits(num):
    return math.ceil(math.log10(num))

In [137]:
for col, value in decimal_scaling_col.items():
    print(stats[col]["max"])
    decimal_scaling_col[col] = get_digits(stats[col]["max"])

121.0
134.0

In [138]:
for col, j in decimal_scaling_col.items():
    df[col] = df[col] / math.pow(10, j)

In [139]:
df['goal_difference'] = df['goals_for'] - df['goals_against']

In [140]:
year=[]
for i in df['year']:
   
    year.append(int(i[0:4]))
print(year) 
df['year']=year

[1950, 1950, 1950, 1950, 1950, 1950, 1950, 1950, 1950, 1950, 1950, 1950, 1950, 1950, 1950, 1950, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1951, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1952, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1953, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1954, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1955, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1956, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1957, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1959, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1961, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1962, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1963, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1964, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1966, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1967, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1968, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1971, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1974, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1977, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1978, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1979, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1980, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1981, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1983, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1986, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1987, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1988, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1989, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1995, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021]

In [141]:
print(df['year'])

0       1950
1       1950
2       1950
3       1950
4       1950
        ...
1323    2021
1324    2021
1325    2021
1326    2021
1327    2021
Name: year, Length: 1328, dtype: int64

In [142]:
df.dtypes

position             int64
team                object
played               int64
won                float64
drawn              float64
lost               float64
goals_for          float64
goals_against      float64
goal_difference    float64
points             float64
year                 int64
dtype: object

In [143]:
df.to_csv("normalized_data/normalized.csv", index=False)